<!-- <ul class="list-group"> 
    <li *ngFor="let post of posts" 
    class="list-group-item">{{ post.body }} {{ post.id }}</li>
</ul> -->
<input type="text" class="form-control" placeholder="Enter New Title Here....." (keyup.enter)="createPost(title)" #title />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <!-- <th>ID</th> -->
            <th>Post Title</th>
            <!-- <th>Post Body</th> -->
            <th>Action</th>
        </tr>
    </thead>
    

    <tr *ngFor="let post of posts">
        <!-- <td>{{ post.id }}</td> -->
        <td>{{ post.title }}</td>
        <!-- <td>{{ post.body }}</td> -->
        <td>
            <button class="btn btn-primary" (click)="updatePost(post)">Update</button> 
                - 
            <button class="btn btn-danger" (click)="deletePost(post)">Delete</button>
        </td>
    </tr>
</table>
