<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input required minlength="3" maxlength="10" pattern="Anshul" ngModel id="firstName"
             name="firstName" type="text" #firstName="ngModel" (change)="log(firstName)" class="form-control" />
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors.required">FirstName is Required!!</div>
            <div *ngIf="firstName.errors.minlength">FirstName Min length is {{ firstName.errors.minlength.requiredLength }} !!</div>
            <div *ngIf="firstName.errors.pattern">Pattern should not match!!</div>
        </div>
    </div>

    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>
    
    <div class="checkbox">
        <label>
            <input type="checkbox" ngModel name="isSubscribed" />  Subscribe to mailing list.
        </label>    
    </div>

    <div class="form-group">
        <label for="contactMethod">Contact Method</label>
        <select name="contactMethod" ngModel id="contactMethod" class="form-control">
            <option value="">Please Select One</option>
            <option *ngFor="let method of contactMethod" [ngValue]="method"> {{ method.name }} </option>
        </select>
    </div>

    <div class="form-group">
        <label for="contactMultiple">Contact Multiple</label>
        <select name="contactMultiple" multiple ngModel id="contactMultiple" class="form-control">
            <option value="">Please Select One</option>
            <option *ngFor="let multiple of contactMultiple" [ngValue]="multiple"> {{ multiple.name }} </option>
        </select>
    </div>

    <div class="radio" *ngFor="let mul_radio of contactRadio">
        <label>
            <input ngModel type="radio" name="contactRadio" [value]="mul_radio.id">
            {{ mul_radio.name }}
        </label>
    </div>            

    <p>
        {{ f.value | json  }}
    </p>
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>